@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: antiquewhite;
}

.header {
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 100%;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-list {
  list-style: none;
}

.header .nav-list li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-list li:hover {
  transform: scale(1.1);
}

.header .nav-list a {
  font-size: 700;
  color: aliceblue;
  text-decoration: none;
}

.header .nav-list li a:hover {
  color: beige;
}
